name: Lint Format Test and Deploy
on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  # Job 1: Static code analysis (Flake8)
  flake8_py3:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.12
          architecture: x64
      - name: Checkout PyTorch
        uses: actions/checkout@master
      - name: Create flake8 config
        run: |
          echo "[flake8]" > .flake8
          echo "max-line-length = 88" >> .flake8
          echo "extend-ignore = E203" >> .flake8
      - name: Install flake8
        run: pip install flake8
      - name: Run flake8
        uses: suo/flake8-github-action@releases/v1
        with:
          checkName: 'flake8_py3'   # NOTE: this needs to be the same as the job name
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # Job 2: Formatting Check (Black)
  linter_name:
    needs: flake8_py3
    name: runner / black formatter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: rickstaa/action-black@v1
        with:
          black_args: ". --check"

  # Job 3: Unit and Functional Testing
  tests:
    needs: flake8_py3
    name: Run Pytest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Run Tests with Coverage
        run: pytest --cov=app --cov=utils

  # Job 4: Deployment to Hugging Face
  sync-to-hub:
    needs: [flake8_py3, linter_name, tests]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push --force https://thewayofwisedom:$HF_TOKEN@huggingface.co/spaces/thewayofwisedom/5-deploy-ml main
